.status {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: white;
    background: black;
}

.X {
    background-image: "";
}

.O {
    background-image: "";
}

.A1 {
    grid-area: 1 / 1 / 2 / 2;
}

.A2 {
    grid-area: 1 / 2 / 2 / 3;
}

.A3 {
    grid-area: 1 / 3 / 2 / 4;
}

.B1 {
    grid-area: 2 / 1 / 3 / 2;
}

.B2 {
    grid-area: 2 / 2 / 3 / 3;
}

.B3 {
    grid-area: 2 / 3 / 3 / 4;
}

.C1 {
    grid-area: 3 / 1 / 4 / 2;
}

.C2 {
    grid-area: 3 / 2 / 4 / 3;
}

.C3 {
    grid-area: 3 / 3 / 4 / 4;
}